/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/gemfiles/*.lock
/pkg/
/spec/reports/
/test/dummy/db/schema.rb
/test/dummy/log/
/test/dummy/tmp/
/tmp/
/vendor/
*.bundle
*.so
*.o
*.a
mkmf.log
